.frame1c-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame1c-frame1c {
  width: 100%;
  height: 8071px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame1c-companyinfo {
  top: 7640px;
  left: -3px;
  width: 1460px;
  height: 431px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(194, 194, 194, 1);
}
.frame1c-text100 {
  top: 133px;
  left: 570px;
  color: rgba(166, 166, 166, 1);
  width: 476px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-review {
  top: 6636px;
  left: -3px;
  width: 1443px;
  height: 1004px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame1c-backgroundimg {
  top: -283px;
  left: -380px;
  width: 2181px;
  height: 1381px;
  position: absolute;
}
.frame1c-text102 {
  top: 175px;
  left: 210px;
  color: rgba(0, 0, 0, 1);
  width: 966px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  font-family: Literata;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-stars {
  top: 101px;
  left: 570px;
  width: 281.000244140625px;
  height: 55.38550567626953px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-star1 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame1c-star2 {
  top: 0px;
  left: 56.3845329284668px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame1c-star3 {
  top: 0px;
  left: 112.76985931396484px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame1c-star4 {
  top: 0px;
  left: 169.15438842773438px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame1c-star5 {
  top: 0px;
  left: 225.5397186279297px;
  width: 55px;
  height: 55px;
  position: absolute;
}
.frame1c-userreviews {
  top: 320.2041015625px;
  left: 165.26852416992188px;
  width: 1118.734375px;
  height: 431.7959289550781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-review2 {
  top: 0px;
  left: 604.128173828125px;
  width: 514.6062622070312px;
  height: 431.7959289550781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-frame2 {
  top: 0px;
  left: 0px;
  width: 514.6062622070312px;
  height: 431.7959289550781px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 32px 20px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(157, 157, 157, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}
.frame1c-text104 {
  top: 28px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  width: 439px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Literata;
  font-weight: 400;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text106 {
  top: 367.7958984375px;
  left: 296.603515625px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Literata;
  font-weight: 300;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-review1 {
  top: 0px;
  left: 0px;
  width: 514.6062622070312px;
  height: 431.7959289550781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-frame1 {
  top: 0px;
  left: 0px;
  width: 514.6062622070312px;
  height: 431.7959289550781px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 32px 20px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(157, 157, 157, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}
.frame1c-text108 {
  top: 28px;
  left: 35px;
  color: rgba(0, 0, 0, 1);
  width: 445px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Literata;
  font-weight: 400;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text110 {
  top: 365.7958984375px;
  left: 282.7314453125px;
  color: rgba(0, 0, 0, 0.699999988079071);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Literata;
  font-weight: 300;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-rectangle11 {
  top: 793px;
  left: 1577px;
  width: 245px;
  height: 99px;
  position: absolute;
}
.frame1c-downloadbtn1 {
  top: 860px;
  left: 405px;
  width: 634px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-googlebtn1 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle121 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 64px;
  position: absolute;
  border-radius: 24px;
}
.frame1c-text112 {
  top: 4px;
  left: 95px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-google-playlogo1 {
  top: 9px;
  left: 37px;
  width: 39.99995803833008px;
  height: 46.999637603759766px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-vector10 {
  top: 0.592089831829071px;
  left: -1.8189894035458565e-12px;
  width: 22px;
  height: 46px;
  position: absolute;
}
.frame1c-vector11 {
  top: 15.686249732971191px;
  left: 22.392578125px;
  width: 18px;
  height: 16px;
  position: absolute;
}
.frame1c-vector12 {
  top: 23.499082565307617px;
  left: 0.8017578125px;
  width: 29px;
  height: 24px;
  position: absolute;
}
.frame1c-vector13 {
  top: 0px;
  left: 0.8017578125px;
  width: 29px;
  height: 24px;
  position: absolute;
}
.frame1c-applebtn1 {
  top: 0px;
  left: 344px;
  width: 290px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle122 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 64px;
  position: absolute;
  border-radius: 24px;
}
.frame1c-text116 {
  top: 4px;
  left: 95px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-applelogo1 {
  top: 9px;
  left: 40px;
  width: 37px;
  height: 46px;
  position: absolute;
}
.frame1c-machinedetail {
  top: 5101px;
  left: 0px;
  width: 1441px;
  height: 1535px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(249, 245, 242, 1);
}
.frame1c-image1 {
  top: 218px;
  left: 490px;
  width: 461px;
  height: 478px;
  position: absolute;
}
.frame1c-text120 {
  top: 98px;
  left: 335px;
  color: rgba(0, 0, 0, 1);
  width: 772px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: SemiBold;
  text-align: center;
  font-family: Literata;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-iconmonstrmagnifiertextlined1 {
  top: 385px;
  left: 774px;
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-group25 {
  top: 789px;
  left: 342px;
  width: 758px;
  height: 134px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-group20 {
  top: 0px;
  left: 0px;
  width: 758px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-iconmonstrweather13711 {
  top: 12px;
  left: 0px;
  width: 33px;
  height: 33px;
  position: absolute;
}
.frame1c-text122 {
  left: 35px;
  color: rgba(39, 21, 8, 1);
  width: 723px;
  height: auto;
  position: absolute;
  font-size: 44px;
  font-style: SemiBold;
  text-align: center;
  font-family: Literata;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text124 {
  top: 71px;
  left: 162px;
  color: rgba(99, 85, 74, 1);
  width: 429px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Bengali;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-group24 {
  top: 1007px;
  left: 359px;
  width: 723px;
  height: 172px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-group21 {
  top: 0px;
  left: 0px;
  width: 723px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-text126 {
  color: rgba(39, 21, 8, 1);
  width: 723px;
  height: auto;
  position: absolute;
  font-size: 44px;
  font-style: SemiBold;
  text-align: center;
  font-family: Literata;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-iconmonstrweather13712 {
  top: 16px;
  left: 5px;
  width: 32px;
  height: 34px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-frame {
  top: 1.25927734375px;
  left: 0px;
  width: 25px;
  height: 26px;
  position: absolute;
}
.frame1c-text128 {
  top: 71px;
  left: 127px;
  color: rgba(99, 85, 74, 1);
  width: 429px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Bengali;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-group23 {
  top: 1263px;
  left: 359px;
  width: 723px;
  height: 141px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-group22 {
  top: 0px;
  left: 0px;
  width: 723px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-text130 {
  color: rgba(39, 21, 8, 1);
  width: 723px;
  height: auto;
  position: absolute;
  font-size: 44px;
  font-style: SemiBold;
  text-align: center;
  font-family: Literata;
  font-weight: 600;
  line-height: 50px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-vector14 {
  top: 15px;
  left: 140px;
  width: 30px;
  height: 31px;
  position: absolute;
}
.frame1c-text132 {
  top: 71px;
  left: 127px;
  color: rgba(99, 85, 74, 1);
  width: 429px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: center;
  font-family: Lohit Bengali;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-experience {
  top: 4136px;
  left: -1px;
  width: 1441px;
  height: 965px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.frame1c-group26 {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 965px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.800000011920929);
}
.frame1c-bread812855012801 {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 965px;
  position: absolute;
}
.frame1c-text134 {
  top: 484px;
  left: 121px;
  color: rgba(79, 81, 76, 1);
  width: 506px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text136 {
  top: 351px;
  left: 121px;
  color: rgba(22, 34, 5, 1);
  width: 540px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: SemiBold;
  text-align: left;
  font-family: Literata;
  font-weight: 600;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-form {
  top: 248px;
  left: 820px;
  width: 367px;
  height: 548px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.frame1c-submitbutton1 {
  gap: 8px;
  top: 327px;
  left: 210px;
  width: 121px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(123, 150, 103, 1);
}
.frame1c-statelayer1 {
  gap: 8px;
  display: flex;
  padding: 10px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.frame1c-text140 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.frame1c-group19 {
  top: 91px;
  left: 36px;
  width: 295px;
  height: 209px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-group16 {
  top: 0px;
  left: 0px;
  width: 295px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle91 {
  top: 19px;
  left: 0px;
  width: 295px;
  height: 44px;
  position: absolute;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 12px;
}
.frame1c-text142 {
  top: 31px;
  left: 44.917991638183594px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-vector15 {
  top: 34px;
  left: 15.781612396240234px;
  width: 17px;
  height: 14px;
  position: absolute;
}
.frame1c-text144 {
  left: 4.855724334716797px;
  color: rgba(0, 0, 0, 0.6600000262260437);
  width: 53px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-group17 {
  top: 73px;
  left: 0px;
  width: 295px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle92 {
  top: 19px;
  left: 0px;
  width: 295px;
  height: 44px;
  position: absolute;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 12px;
}
.frame1c-text146 {
  top: 31px;
  left: 44.917991638183594px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text148 {
  left: 4.855724334716797px;
  color: rgba(0, 0, 0, 0.6600000262260437);
  width: 56px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-vector16 {
  top: 32px;
  left: 18.209474563598633px;
  width: 13px;
  height: 17px;
  position: absolute;
}
.frame1c-group18 {
  top: 146px;
  left: 0px;
  width: 295px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle93 {
  top: 19px;
  left: 0px;
  width: 295px;
  height: 44px;
  position: absolute;
  border-color: rgba(210, 210, 210, 1);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 12px;
}
.frame1c-text150 {
  top: 31px;
  left: 44.917991638183594px;
  color: rgba(0, 0, 0, 0.4000000059604645);
  width: 90px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text152 {
  left: 4.855724334716797px;
  color: rgba(0, 0, 0, 0.6600000262260437);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-vector17 {
  top: 32px;
  left: 19.423912048339844px;
  width: 12px;
  height: 17px;
  position: absolute;
}
.frame1c-text154 {
  top: 34px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-app {
  top: 979px;
  left: -20px;
  width: 1475px;
  height: 2959px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-background1 {
  top: 0px;
  left: 20px;
  width: 1441px;
  height: 1111px;
  position: absolute;
}
.frame1c-apptext3 {
  top: 2552px;
  left: 140px;
  width: 636px;
  height: 380.2701416015625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-text156 {
  color: rgba(0, 0, 0, 1);
  width: 636px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: SemiBold;
  text-align: left;
  font-family: Literata;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text158 {
  top: 216.1572265625px;
  left: -1.8189894035458565e-12px;
  color: rgba(121, 121, 121, 1);
  width: 587px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Regular;
  text-align: left;
  font-family: Lohit Bengali;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text160 {
  top: 1678px;
  left: 396.173828125px;
  color: rgba(0, 0, 0, 1);
  width: 683px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Literata;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-apptext1 {
  top: 291px;
  left: 140px;
  width: 696.4981689453125px;
  height: 565.1277465820312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-group3 {
  top: 0px;
  left: 0px;
  width: 696.4981689453125px;
  height: 565.1277465820312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-text162 {
  color: rgba(0, 0, 0, 1);
  width: 696px;
  height: auto;
  position: absolute;
  font-size: 60px;
  font-style: Bold;
  text-align: left;
  font-family: Literata;
  font-weight: 700;
  line-height: 134.3405246734619%;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text164 {
  top: 266px;
  color: rgba(156, 156, 156, 1);
  width: 584px;
  height: auto;
  position: absolute;
  font-size: 29px;
  font-style: Regular;
  text-align: left;
  font-family: Lohit Bengali;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-appimg21 {
  top: 2520px;
  left: 776px;
  width: 564px;
  height: 439px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(247, 247, 247, 1);
}
.frame1c-text166 {
  top: 166.98681640625px;
  left: 127px;
  color: rgba(137, 137, 137, 1);
  width: 281px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-appimg11 {
  top: 1811px;
  left: 140px;
  width: 1200.000244140625px;
  height: 415px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-appimg3 {
  top: 0px;
  left: 829.412109375px;
  width: 370.5881652832031px;
  height: 415px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(247, 247, 247, 1);
}
.frame1c-text170 {
  top: 190.39234924316406px;
  left: 108.82421875px;
  color: rgba(147, 147, 147, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-appimg22 {
  top: 0px;
  left: 414.705078125px;
  width: 370.5881652832031px;
  height: 415px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(247, 247, 247, 1);
}
.frame1c-text172 {
  top: 190.39234924316406px;
  left: 108.82421875px;
  color: rgba(147, 147, 147, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-appimg12 {
  top: 0px;
  left: 0px;
  width: 370.5881652832031px;
  height: 415px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(247, 247, 247, 1);
}
.frame1c-text174 {
  top: 190.39234924316406px;
  left: 108.82421875px;
  color: rgba(147, 147, 147, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-appbanner {
  top: 1110.5335693359375px;
  left: 0px;
  width: 1475px;
  height: 473px;
  position: absolute;
}
.frame1c-banner {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 1913px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-background2 {
  top: 0px;
  left: 0px;
  width: 1441px;
  height: 979px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(249, 244, 242, 1);
}
.frame1c-group14 {
  top: 0px;
  left: 716.8584594726562px;
  width: 724.1415405273438px;
  height: 979px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-bannerimg1 {
  top: 0px;
  left: 0px;
  width: 724px;
  height: 979px;
  position: absolute;
}
.frame1c-group7 {
  top: 942.166259765625px;
  left: 314.2109069824219px;
  width: 88.43682098388672px;
  height: 15.508910179138184px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-ellipse1 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1c-ellipse2 {
  top: 0px;
  left: 23.929941177368164px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1c-ellipse3 {
  top: 0px;
  left: 47.85990524291992px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1c-ellipse4 {
  top: 0px;
  left: 71.78987121582031px;
  width: 17px;
  height: 16px;
  position: absolute;
}
.frame1c-bannertext {
  top: 229px;
  left: 103px;
  width: 585.763916015625px;
  height: 585.4432373046875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-text176 {
  color: rgba(0, 0, 0, 1);
  width: 586px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: SemiBold;
  text-align: left;
  font-family: Literata;
  font-weight: 600;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text177 {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}
.frame1c-text178 {
  color: rgba(73, 73, 73, 1);
}
.frame1c-email {
  top: 448.6187744140625px;
  left: 0.4418017864227295px;
  width: 460.2193908691406px;
  height: 136.8245391845703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-emailinput {
  gap: 6px;
  top: 0px;
  left: 0px;
  width: 460.2193908691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 0 0 47px 47px;
  flex-direction: column;
}
.frame1c-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame1c-text180 {
  color: var(--dl-color-gray-700);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-input {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.frame1c-content {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.frame1c-mail {
  width: 20px;
  height: 20px;
}
.frame1c-text182 {
  color: var(--dl-color-gray-500);
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-helpicon {
  width: 16px;
  height: 16px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-text184 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-submitbutton2 {
  gap: 8px;
  top: 89.8922119140625px;
  left: 365.19207763671875px;
  height: 46.93232345581055px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(122, 149, 102, 1);
}
.frame1c-statelayer2 {
  gap: 8px;
  display: flex;
  padding: 10px 24px;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.frame1c-text186 {
  color: var(--dl-color-m3_sys_light-onprimary);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.frame1c-text188 {
  top: 221.8321533203125px;
  left: 2.7017831802368164px;
  color: rgba(83, 83, 85, 1);
  width: 460px;
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-text190 {
  top: 37px;
  left: 60px;
  color: rgba(42, 42, 42, 1);
  width: 238px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 90px;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-bannerimg2 {
  top: 1113px;
  left: 886px;
  width: 433px;
  height: 800px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.10000000149011612) ;
  box-sizing: content-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(228, 228, 228, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  background-color: var(--dl-color-sky-white);
}
.frame1c-text192 {
  top: 109px;
  left: 24px;
  color: var(--dl-color-ink-darkest);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
.frame1c-group15 {
  top: 10px;
  left: 0px;
  width: 443px;
  height: 942px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-native-status-bar {
  top: 0px;
  left: 0px;
  width: 433px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-text194 {
  top: 16px;
  left: 30px;
  color: var(--dl-color-ink-darkest);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 16px;
}
.frame1c-mobile-signal1 {
  top: 20.5px;
  left: 346px;
  width: 18px;
  height: 10px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-mobile-signal2 {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 10px;
  position: absolute;
}
.frame1c-wifi {
  top: 19px;
  left: 369px;
  width: 15.27237606048584px;
  height: 10.965471267700195px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-union {
  top: 0px;
  left: 0px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.frame1c-battery1 {
  top: 18px;
  left: 390px;
  width: 26.97806167602539px;
  height: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-battery2 {
  top: 0px;
  left: 0px;
  width: 26.97806167602539px;
  height: 13px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle1 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 13px;
  opacity: 0.35;
  position: absolute;
}
.frame1c-combined-shape {
  top: 5px;
  left: 25.6500244140625px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.frame1c-rectangle2 {
  top: 2.333251953125px;
  left: 2.29998779296875px;
  width: 20px;
  height: 8px;
  position: absolute;
}
.frame1c-navigation-bar-large-title {
  top: 39px;
  left: 0px;
  width: 433px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-text196 {
  top: 12px;
  left: 24px;
  color: var(--dl-color-ink-darkest);
  width: 385px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 36px;
}
.frame1c-bars-tabs-chips {
  gap: 8px;
  top: 159px;
  left: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.frame1c-controls-chips-pill1 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 32px;
  background-color: var(--dl-color-primary-lightest);
}
.frame1c-text198 {
  color: var(--dl-color-primary-base);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.frame1c-controls-chips-pill2 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 32px;
  background-color: var(--dl-color-sky-lighter);
}
.frame1c-text200 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.frame1c-controls-chips-pill3 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 32px;
  background-color: var(--dl-color-sky-lighter);
}
.frame1c-text202 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.frame1c-controls-chips-pill4 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 32px;
  background-color: var(--dl-color-sky-lighter);
}
.frame1c-text204 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.frame1c-controls-chips-pill5 {
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 32px;
  background-color: var(--dl-color-sky-lighter);
}
.frame1c-text206 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  text-align: left;
  line-height: 16px;
}
.frame1c-views-dividers {
  top: 139px;
  left: 0px;
  width: 433px;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-divider {
  top: 0px;
  left: 0px;
  width: 433px;
  height: 1px;
  position: absolute;
}
.frame1c-text208 {
  top: 101px;
  left: 374px;
  color: var(--dl-color-ink-darkest);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 14px;
}
.frame1c-news-list {
  gap: 24px;
  top: 526px;
  left: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame1c-news-small1 {
  gap: 16px;
  width: 395px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-views-images-ratio1 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-image-placeholder-copypastehere1 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.frame1c-text210 {
  gap: 8px;
  width: 315px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1c-text211 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.frame1c-text213 {
  color: var(--dl-color-ink-light);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
}
.frame1c-news-small2 {
  gap: 16px;
  width: 395px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-views-images-ratio2 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-image-placeholder-copypastehere2 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.frame1c-text215 {
  gap: 8px;
  width: 315px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1c-text216 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.frame1c-text218 {
  color: var(--dl-color-ink-light);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
}
.frame1c-news-small3 {
  gap: 16px;
  width: 395px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-views-images-ratio3 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-image-placeholder-copypastehere3 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.frame1c-text220 {
  gap: 8px;
  width: 315px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1c-text221 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.frame1c-text223 {
  color: var(--dl-color-sky-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
}
.frame1c-news-small4 {
  gap: 16px;
  width: 395px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-views-images-ratio4 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-image-placeholder-copypastehere4 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.frame1c-text225 {
  gap: 8px;
  width: 315px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1c-text226 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.frame1c-text228 {
  color: var(--dl-color-sky-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
}
.frame1c-news-small5 {
  gap: 16px;
  width: 395px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-views-images-ratio5 {
  width: 64px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-image-placeholder-copypastehere5 {
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  position: absolute;
}
.frame1c-text230 {
  gap: 8px;
  width: 315px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1c-text231 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.frame1c-text233 {
  color: var(--dl-color-sky-dark);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
}
.frame1c-news-big {
  gap: 12px;
  top: 215px;
  left: 24px;
  width: 385px;
  height: 279px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1c-image {
  width: auto;
  height: auto;
  flex-grow: 1;
  align-self: stretch;
}
.frame1c-text235 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame1c-text236 {
  color: var(--dl-color-ink-darkest);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
.frame1c-text238 {
  color: var(--dl-color-ink-light);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 16px;
}
.frame1c-frame261 {
  top: 67.9063720703125px;
  left: 377.576171875px;
  width: 27.712003707885742px;
  height: 23.64531898498535px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1c-line1 {
  top: 1px;
  left: 11.5px;
  width: 22px;
  height: 1px;
  position: absolute;
}
.frame1c-line2 {
  top: 12.000000953674316px;
  left: 23px;
  width: 22px;
  height: 1px;
  position: absolute;
}
.frame1c-line3 {
  top: 3.999976634979248px;
  left: 20.000022888183594px;
  width: 22px;
  height: 1px;
  position: absolute;
}
.frame1c-line4 {
  top: 3.9999990463256836px;
  left: 3.9999847412109375px;
  width: 22px;
  height: 1px;
  position: absolute;
}
.frame1c-ellipse24 {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1c-native-home-indicator {
  top: 756px;
  left: 0px;
  width: 433px;
  height: 34px;
  position: absolute;
}
.frame1c-bars-tab-bar-icon-only {
  top: 700px;
  left: 0px;
  width: 433px;
  height: 56px;
  display: flex;
  position: absolute;
  box-shadow: 0px -1px 1px 0px rgba(20, 20, 20, 0.019999999552965164) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-sky-white);
}
.frame1c-frame-partials-tab-bar-icon-only1 {
  width: 108.25px;
  height: 56px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: var(--dl-color-sky-white);
}
.frame1c-icon1 {
  top: 16px;
  left: 42px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame1c-frame-partials-tab-bar-icon-only2 {
  width: 108.25px;
  height: 56px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: var(--dl-color-sky-white);
}
.frame1c-icon2 {
  top: 16px;
  left: 42px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame1c-frame-partials-tab-bar-icon-only3 {
  width: 108.25px;
  height: 56px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: var(--dl-color-sky-white);
}
.frame1c-icon3 {
  top: 16px;
  left: 42px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame1c-frame-partials-tab-bar-icon-only4 {
  width: 108.25px;
  height: 56px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: var(--dl-color-sky-white);
}
.frame1c-iconplaceholder {
  top: 16px;
  left: 42px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.frame1c-downloadbtn2 {
  top: 24px;
  left: 762px;
  width: 634px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-googlebtn2 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle123 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 64px;
  position: absolute;
  border-radius: 24px;
}
.frame1c-text240 {
  top: 4px;
  left: 95px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-google-playlogo2 {
  top: 9px;
  left: 37px;
  width: 39.99995803833008px;
  height: 46.999637603759766px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-vector18 {
  top: 0.592089831829071px;
  left: -1.8189894035458565e-12px;
  width: 22px;
  height: 46px;
  position: absolute;
}
.frame1c-vector19 {
  top: 15.686249732971191px;
  left: 22.392578125px;
  width: 18px;
  height: 16px;
  position: absolute;
}
.frame1c-vector20 {
  top: 23.499082565307617px;
  left: 0.8017578125px;
  width: 29px;
  height: 24px;
  position: absolute;
}
.frame1c-vector21 {
  top: 0px;
  left: 0.8017578125px;
  width: 29px;
  height: 24px;
  position: absolute;
}
.frame1c-applebtn2 {
  top: 0px;
  left: 344px;
  width: 290px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1c-rectangle124 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 64px;
  position: absolute;
  border-radius: 24px;
}
.frame1c-text244 {
  top: 4px;
  left: 95px;
  color: rgba(255, 255, 255, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1c-applelogo2 {
  top: 9px;
  left: 40px;
  width: 37px;
  height: 46px;
  position: absolute;
}
